.sectionTitle {
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.card {
  background-image: url("../../assets/Backgrounds/fondoLoginDateWeb.png");
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  padding: 35px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  box-sizing: border-box;
}

.textDiv h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.textDiv p {
  font-size: 17px;
  padding: 0 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.textDiv img {
  height: 80px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.callToAction {
  all: unset;
  background-color: #8811c8;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  padding: 13px 45px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.callToAction:hover {
  transform: scale(1.05);
  background-color: #620a91;
}

/* Responsive para pantallas menores a 768px */
@media (max-width: 768px) {
  .sectionTitle {
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .container {
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 0 20px;
  }

  .card {
    width: 100%;
    padding: 25px 15px;
  }

  .textDiv p {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.4;
  }

  .textDiv img {
    height: 60px;
  }

  .callToAction {
    padding: 10px 30px;
    font-size: 16px;
  }
}
