.sectionTitle{
    font-size: 35px;
    margin-top: 100px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 60px;
  row-gap: 2px;
  justify-content: center;
  margin-top: 60px;
}

.card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  height: 450px;
  color: white;
  gap: 30px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/Backgrounds/fondoCard.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9px;
  z-index: 0;
}

/* Asegura que el contenido esté por encima del fondo */
.card > *:not(.background) {
  position: relative;
  z-index: 1;
}

/* Card 1 y 4: color sólido */
.card:nth-child(1),
.card:nth-child(4) {
  background-color: #8811c8;
}

/* Escalonado: desplaza toda la segunda columna */
.card:nth-child(2n) {
  margin-top: 55px;
}

.textDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 13px;
  padding: 0px 50px;
}

.textDiv h1 {
  font-size: 35px;
  margin: 0;
  line-height: 1;
}

.titleSubtitle {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 80%;
}

.titleSubtitle h2 {
  margin: 0;
  font-size: 23px;
  font-weight: 500;
  text-align: left;
}

.titleSubtitle p {
  margin: 0;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
}

.video {
  height: 260px;
  width: 135px;
  border-radius: 9px;
}
.callToAction{
  all: unset;
  background-color: #8811c8;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  padding: 13px 45px;
  transition: transform 0.5s ease-in-out;
  margin-top: 70px;
  margin-bottom: 20px;
}
.callToAction:hover {
  transform: scale(1.05);
  background-color: #620a91;
  cursor: pointer;
}
