.sectionTitle {
  font-size: 35px;
  margin-top: 100px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 60px;
  row-gap: 2px;
  justify-content: center;
  margin-top: 60px;
}

.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  height: 450px;
  color: white;
  gap: 30px;
  background-color: rgb(40, 39, 39);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #141414 0%,
    #3f3f3f 25%,
    #9b9b9b 50%,
    #3f3f3f 75%,
    #1a1a1a 100%
  );
  background-size: cover;
  z-index: 0;
}

.card > *:not(.background) {
  position: relative;
  z-index: 1;
}

.card:nth-child(1),
.card:nth-child(4) {
  background-color: #8811c8;
}

.card:nth-child(2n) {
  margin-top: 55px;
}

.textDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 13px;
  padding: 0px 50px;
}

.textDiv h1 {
  font-size: 35px;
  margin: 0;
  line-height: 1;
}

.titleSubtitle {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 80%;
}

.titleSubtitle h2 {
  margin: 0;
  font-size: 23px;
  font-weight: 500;
  text-align: left;
}

.titleSubtitle p {
  margin: 0;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
}

.video {
  height: 260px;
  width: 135px;
  border-radius: 9px;
}
.callToAction {
  all: unset;
  background-color: #8811c8;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  padding: 13px 45px;
  transition: transform 0.5s ease-in-out;
  margin-top: 40px;
  margin-bottom: 10px;
}
.callToAction:hover {
  transform: scale(1.05);
  background-color: #620a91;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    padding: 0 20px;
  }

  .card {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    text-align: center;
    padding: 20px;
  }

  .textDiv {
    flex-direction: row;
    gap: 10px;
    padding: 0 10px;
    justify-content: center;
  }

  .textDiv h1 {
    font-size: 28px;
    margin: 0;
  }

  .titleSubtitle {
    width: auto;
    text-align: left;
  }

  .titleSubtitle h2 {
    font-size: 20px;
  }

  .titleSubtitle p {
    font-size: 14px;
    line-height: 20px;
  }

  .video {
    height: 200px;
    width: auto;
    max-width: 80vw;
    border-radius: 9px;
  }
  .sectionTitle {
    font-size: 26px;
    text-align: center;
    margin-top: 60px;
  }
  .callToAction{
      padding: 13px 35px;
  }
}
