.header {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vincufyLogo {
  height: 28px;
  width: 115px;
}

.login {
  all: unset;
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0.1px solid rgb(111, 111, 111);
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  padding: 3px 30px;
  outline: none;
  box-shadow: none;
  transition: transform 0.3s ease-in-out;
}

.login:hover {
  transform: translateY(-50%) scale(1.05);
  cursor: pointer;
  border: 0.1px solid rgb(111, 111, 111);
  box-shadow: none;
}

@media (max-width: 600px) {
  .header {
    justify-content: space-between;
  }
  .vincufyLogo {
    height: 30px;
    width: 125px;
  }
  .login {
    position: static;
    transform: none;
    padding: 3px 15px;
  }
}
