.iphoneImage {
  height: 355px;
  transition: transform 0.3s ease-in-out;
}

.iphoneImage:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .iphoneImage {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .iphoneImage {
    height: 250px;
  }
}
